body{
    flex-direction: column;
    display: flex;
}

header{
    height: 15vh;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: black;
}

article{
    height: auto;

    flex-direction: column;
    display: flex;
}

footer{
    height: 15vh;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Contatos{
    height: 50vh;
    width: 100%;
    background-color: #e9e59f;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.BlocodeNotas{
    height: 50vh;
    width: 100%;
    background-color:#fce185;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.ListaTarefas{
    height: 50vh;
    width: 100%;
    background-color: white;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.imgContatos{
    height: 100%;
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imgNotas{
    height: 100%;
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imgTarefas{
    height: 100%;
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Descricao{
    min-height: 80%;
    width: 40%;
    padding: 1%;

    display: block;
    overflow-y: auto;

    flex-direction: column;
    justify-content: space-evenly;
}


.Usuario{
    height: 80%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Informacoes{
    height: 80%;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Informacoes a{
    text-decoration: none;
    outline: none;
    color: white;
}

.AgendaPessoal{
    height: 70%;
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3%;
}

.RedesSociais{
    height: 70%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.RedesSociais a{
    text-decoration: none;
    outline: none;
    margin: 1%;
}